<head>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="img" href="/static/img/bolt-solid.svg">

<style>
        .cafe_entire_status{
            animation-name: fade-in;
            animation-duration: 1s;
            animation-timing-function: ease-in;
            animation-direction: normal;
        }
        .normal {
            position: relative;
            left: 43%;
            top: 20px;
            width: 150px;
            height: 50px;
            animation-name: animate1;
            animation-duration: 2s;
            /*             animation-iteration-count: 3;
 */
            animation-timing-function: ease-in;
            animation-direction: normal;
        }

        @keyframes animate1 {
            from {
                left: 0px;
                opacity: 0%;
            }

            to {
                left: 43%;
                opacity: 100%;
            }
        }

        @keyframes fade-in {
            from {
                opacity: 0%;
            }

            to {
                opacity: 100%;
            }
        }
    </style>
</head>

<body>
    <div class='mt-3' style="margin: 5%;"></div>
    <br/>
    <h1 class='display-4 cafe_entire_status' style='text-align: center;'>{{store.store_name}}의 좌석 현황이예요.</h1>
    <br/>
    {% if occupied_table_count == all_table_count %}
    <h1 class='display-4 cafe_entire_status' style='text-align: center;'>&#128557;카페에 빈자리가 없네요ㅠㅠ</h1>
    {% else %}
    <h1 class='display-4 cafe_entire_status' style='text-align: center;'>&#128518;카페에 빈자리가 있어요!</h1>
    {% endif %}
    <br/>
    <h1 class='display-5 cafe_entire_status' style='text-align: center;'>&#x2615; 현재 카페의 좌석 현황은 아래와 같아요.</h1>
    <h1 class='counter display-1 cafe_entire_status' data-count="{{occupied_table_count}}" data-max="{{all_table_count}}" style='text-align: center;'>0/{{all_table_count}}</h1>
    <br/>
    <h1 class='display-5 cafe_entire_status' style='text-align: center;'>&#9889;  전기사용 가능한 좌석 현황은 아래와 같아요.</h1>
    <div style="margin-bottom:3%">
        <h1 class="normal display-1">{{elec_occupied}}/{{elec_all}}</h1>
        <div class="normal"></div>
    </div>
    <br/>
    <h1 class='display-5 cafe_entire_status' style='text-align: center;'>아래의 좌석 배치도로 비어있는 자리를 확인해보세요~</h1>
    <h1 class='display-5 cafe_entire_status' style='text-align: center;'>&#128071;&#128071;&#128071;&#128071;&#128071;</h1>
    <br/>
    <div class='container-fluid cafe_entire_status'>
    <div class='layout'>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    {% for floor in floor_list %}
                    {% if forloop.counter == 1 %}
                    <li class="nav-item">
                        <a class="nav-link active" name='{{floor.name}}'>{{floor.name}}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" name='{{floor.name}}'>{{floor.name}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% for floor in floor_list %}
            {% if forloop.counter == 1 %}
            <div class="card-body" style="display: block;" name="{{floor.name}}">
                {% else %}
                <div class="card-body" style="display: none;" name="{{floor.name}}">
                    {% endif %}
                    <div class='container-fluid' id="canvas_container_man">
                    <canvas class='layout_canvas' id="{{floor.name}}" name="{{floor.name}}" width="1200" height="900"
                        style="border:1px solid #ccc"></canvas>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

</body>
<script src="https://kit.fontawesome.com/1a7adf786d.js" crossorigin="anonymous"></script>
<script src="/static/js/jquery-3.5.1.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/bootstrap.bundle.js"></script>
<script src="/static/js/fabric.js"></script>
<script>
    var IMAGE_WIDTH = 1200
    var IMAGE_HEIGHT = 900
    var tmp_list = {{ layout_coord_list| safe}}

    var canvas_list = []
    {% for floor in floor_list %}
    var tmp_canvas = this.__canvas = new fabric.Canvas('{{floor.name}}');
    tmp_canvas.selection = false
    canvas_list.push(tmp_canvas)
    {% endfor %}
    console.log(canvas_list)

    $(document).ready(function (e) {
        var canvas_container_one = $('[id="canvas_container_man"]')[0]
        console.log('canvas_container_one');
        console.log($(canvas_container_one).css('width'));
        var tmp_width = $(canvas_container_one).width()
        var tmp_height = 3*(tmp_width/4)
        IMAGE_WIDTH = tmp_width
        IMAGE_HEIGHT = tmp_height
        
        for (var i = 0; i < tmp_list.length; i++) {
            var cur_canvas = canvas_list[i]
            cur_canvas.setWidth(tmp_width)
            cur_canvas.setHeight(tmp_height)
            cur_canvas.renderAll();

            var table_list = tmp_list[i].coor_list
            for (var j = 0; j < table_list.length; j++) {
                var cur_data = table_list[j]
                console.log(cur_data)
                var left = cur_data.layout_f_x * IMAGE_WIDTH
                var top = cur_data.layout_f_y * IMAGE_HEIGHT
                var width = Math.abs((cur_data.layout_s_x - cur_data.layout_f_x) * IMAGE_WIDTH)
                var height = Math.abs((cur_data.layout_s_y - cur_data.layout_f_y) * IMAGE_HEIGHT)
                console.log('(' + width + ', ' + height + ')')
                Add(_left = left, _top = top, _width = width, _height = height, _scaleX = 1, _scaleY = 1, _pk = cur_data.id, _is_occupied = cur_data.is_occupied, _is_elec = cur_data.is_elec, _canvas = cur_canvas)
            }
            cur_canvas.off();
            var obj_list = cur_canvas.getObjects()
            for (var j = 0; j < obj_list.length; j++) {
                var obj = obj_list[j]
                obj.off()
            }
            console.log(cur_canvas)
        }
        fabric.loadSVGFromURL('/static/img/bolt-solid.svg', function(objects, options){
            var svg_image = fabric.util.groupSVGElements(objects, options);
            console.log(svg_image)
        
            for(let i=0; i<canvas_list.length; i++){
                var cur_canvas = canvas_list[i];
                var obj_list = cur_canvas.getObjects()
                for(let i=0; i<obj_list.length; i++){
                    let cur_obj = obj_list[i];
                    if(cur_obj.is_elec)
                        cur_obj.add(svg_image);
                }   
                cur_canvas.renderAll()
            }
        });
        fabric.Image.fromURL('/static/img/layout_image.png', imgObj=>{
            for(let i=0; i<canvas_list.length; i++){
                let cur_canvas = canvas_list[i];
                console.log(`(${IMAGE_WIDTH}, ${IMAGE_HEIGHT})`);
                cur_canvas.setBackgroundImage(imgObj, cur_canvas.renderAll.bind(cur_canvas), {
                    opacity:1,
                    scaleX:IMAGE_WIDTH/1200,
                    scaleY:IMAGE_HEIGHT/900
                });
            }
        });
    });


    function Add(_left = 100, _top = 50, _width = 100, _height = 100, _scaleX = 1, _scaleY = 1, _pk = null, _is_occupied = false, _is_elec = false, _canvas = null) {
        console.log('_pk : ' + _pk)
        var color;
        if (_is_occupied)
            color = 'gray'
        else
            color = 'green'
        var rect = new fabric.Rect({
            fill: color,
            width: _width,
            height: _height,
            objectCaching: false,
            strokeWidth: 4,
            opacity: 0.4,
            originX: 'center',
            originY: 'center'
        });

//        var id_text = _pk + ''
        var id_text = ''
        if(_is_elec)
            id_text += '\u26A1'

        var text = new fabric.Text(id_text, {
            fontSize: 30,
            originX: 'center',
            originY: 'center'
        });
        text.scaleX = 1 / _scaleX
        text.scaleY = 1 / _scaleY

        var group = new fabric.Group([rect, text], {
            left: _left,
            top: _top,
            width: _width,
            height: _height,
            hasRotatingPoint: false,
            selectable: false,
            hoverCursor: "default"
        });

        group.scaleX = _scaleX
        console.log(_scaleX)
        group.scaleY = _scaleY

        if (_pk != null)
            group.pk = _pk
        group.is_elec = _is_elec

        _canvas.add(group);
    }

    $(function () {
        $('div').click(function () {
            $(this).css('animation-name', 'direction');
        });
    });

    $('.counter').each(function () {
        var $this = $(this),
            countTo = $this.attr('data-count');
        
        var max_count = $(this).data("max");

        $({ countNum: $this.text() }).animate({
            countNum: countTo
        },

            {

                duration: 2000,
                easing: 'linear',
                step: function () {
                    $this.text(Math.floor(this.countNum) + '/' + max_count);
                },
                complete: function () {
                    $this.text(this.countNum + '/' + max_count);
                    //alert('finished');
                }

            });

    });

    $(document).on('click', '.nav-link', function (e) {
        var cur_active_header = $('.card-header').find('.nav-link.active')
        var cur_pic_name = $(cur_active_header).attr('name')
        $(cur_active_header).attr('class', 'nav-link')
        $(this).attr('class', 'nav-link active')
        var now_pic_name = $(this).attr('name')

        var cur_card_body = $(document).find('.card-body[name="' + cur_pic_name + '"]')
        $(cur_card_body).css('display', 'none')
        $(document).find('.card-body[name="' + now_pic_name + '"]').css('display', 'block')

    });

</script>