<!DOCTYPE html>
<html lang="kr">
<head>
	<meta charset="uft-8">
	<meta name="viewprot" content="width=device-width, inital-scale=1, shrinkt-to-fit=no">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	
	<link rel="stylesheet" type="text/css" href="/static/css/footer.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/Camera_list.css?1">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<title>WATCHER</title>

	<style>
		.clickable{
			cursor: pointer;
		}
	</style>

</head>
<body>
	<!--내비게이션 바-->
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color:black;">
		<a class="navbar-brand" href="{% url 'watcher:store_info' %}" style="color :white; ">WATCHER</a>
		<button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#Navbar-collapse" aria-controls="Navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="Navbar-collapse">
			<div class="navbar-nav">
				<ul class="nav navber-nav">
					<li><a href="{% url 'watcher:store_info' %}" style="text-decoration: none;">홈 화면 <span class="sr-only">(current)</span></a></li>
					<li><a href="{% url 'watcher:store_info' %}" style="text-decoration: none;">가게 목록</a></li> <!-- 수정필요 -->
					<li><a href="{% url 'watcher:store_menu' store.pk %}" style="text-decoration: none;">가게 메뉴</a></li> <!-- 수정필요 -->
				</ul>

			</div>
		 </div>
	</nav>

	<div id="container_store_list" class="container-fluid" style="overflow:scroll; min-height: 80vh;">
		<div class="container">
				<div class="container-fluid" style="padding-top:10%;">
					<h3 class="display-4">메뉴 추가 </h3>
					<h5>메뉴 정보를 입력해 주세요</h5>
				</div>

				<div class="container-fluid" style="padding-top:5%;">

					<form>
						<div class="form-group">
							<label for="form_menu_name">메뉴 이름</label>
							<div class="input-group mb-3">
							    <input type="text" class="form-control" id="form_menu_name">
							</div>
						</div>
						<div class="form-group">
							<label for="form_menu_price">가격</label>
							<div class="input-group mb-3">
							    <input type="text" class="form-control" id="form_menu_price">
							    <div class="input-group-append">
							    	<button class="btn btn-outline-secondary" type="button" id="form_check_id_btn">원</button>
							    </div>
							</div>
						</div>
						<div class="form-group">
							<label for="form_menu_category">카테고리</label>
							<div class="input-group mb-3">
							    <select id="form_menu_category_name" style="width:100%" class="form-select" aria-label=".form-select-lg example">
								{% for category in categories %}
									<option name="{{category.name}}" data-pk="{{category.pk}}">{{category.name}}</option>
								{% endfor %}
								</select>
							</div>
						</div>
					<button id="form_menu_add_btn" type="button" class="btn btn-secondary bg-dark">메뉴 추가 </button>
				</div>
		</div>
	</div>
	<!--footer-->
	<footer style="padding-top:1%;">
		<div class="container">
					<div class="row">
						<div id="footer_copyright" class="col-sm-4" ><h5>Copyright &copy; 2020</h5>
							<ul>
							<li><h5>김민호(KIM MINHO)</h5></li>
							<li><h5>김하연(KIM HAYEON)</h5></li>
							<li><h5>윤 렬(YOON RYEOL)</h5></li>
							</ul>
						</div>
						<div class="col-sm-4" ><h4>소개</h4><p>숭실대학교 프로젝트 팀</p></div>
						<div class="col-sm-4"><h4>위치</h4><p>서울특별시 동작구 상도동 숭실대학교</p></div>
					</div>
				</div>
	</footer>



<!--script start -->
	<script type="text/javascript">
		var page = 1;
		$(window).scroll(function() {
			if ($(window).scrollTop() == $(document).height() - $(window).height()) {
				++page;
				$("tbody").append('<tr><td>1<i style="margin:4px" class="fas fa-camera"></i></td><td>카메라1</td><td>창가 천장 위</td><td><i style="margin:4px" class="fa fa-edit"></i><i style="margin:4px" class="fa fa-trash"></i></td></tr>');
			}
		});

/*자바스크립트 함수 */

	
		/*floor 모달에서 카메라가 배정되는 floor_id를 수정해주는 함수 */
		function edit_floor_id(store_id,camera_list, floor_id) {
			$.ajax({
				url : "{% url 'watcher:ajax_edit_floor_id' %}",
				dataType:'json',
				type:'POST',
				data :{
					'csrfmiddlewaretoken' : "{{csrf_token}}",
					'store_id' : store_id,
					'camera_list[]' : camera_list,
					'floor_id' : floor_id,
				},success : function(data) {
					console.log("SUCCESS");
					var k = 0;
					
					$.each(data, function(index,element) {
						if(element.floor_id === null){element.floor_id = "None"}
						if(element.mac_addr === null) {element.mac_addr = "None"}
					});
					
					$('#tbody_camera').empty();
					for(var i =0; i < data.length; i++){create_camera_info(data[i]);}
					camera_connection_table();
				},
				error : function(error) {
					alert('add floor_ id error' + eval(error));
				}
			});
			$('#modal_floor_name').val('');
			$('#modal_floor_num').val('');
			$('#modal_floor_description').val('');
			$('#modal_tbody_unused_camera').empty();
			$('#modal_tbody_used_camera').empty();
		}


/*자바스크립트 함수 끝 */
	/*카메라 추가 모달 초기화 */


	/* 카메라 테이블 >row > edit 버튼 기능 */
		$(document).on('click', '#td_camera_edit_button', function(e){
			var pk_check = $(this).attr('name');
			
			pk_check *=1;
			console.log(pk_check);
			$.ajax({
				url:"{% url 'watcher:ajax_get_camera_info' %}",
				dataType : 'json',
				type:'POST',
				data:{
					'pk': pk_check,
					'csrfmiddlewaretoken' : "{{csrf_token}}",
				},
				success:function(data){
					console.log(data)

					$('#modal_camera_edit_label').text(data.pk+"번 카메라");
					$('#modal_camera_edit_description').val(data.description);
					$('#modal_camera_edit_mac_addr').val(data.mac_addr);
					$('#modal_camera_edit_curhost').val(data.cur_host);
					$('#modal_camera_edit_btn').attr('name',pk_check);

				},
				error: function (error) {
						alert('td_camera_edit_button error; ' + eval(error));
					}
			});
		});

	

		/*카메라 정보 수정 버튼*/
		$(document).on('click', '#modal_camera_edit_btn', function(e) {
			var mac_addr = $('#modal_camera_edit_mac_addr').val();
			var description = $('#modal_camera_edit_description').val();
			var cur_host = $('#modal_camera_edit_curhost').val();
			var pk = $(this).attr('name');
			var store_id = "{{store.pk}}"

			//console.log("store_pk : "+store_id);

			if(confirm("수정 하시겠습니까?")){
				$.ajax({
					url : "{% url 'watcher:ajax_edit_camera_info' %}",
					dataType : 'json',
					type : 'GET',
					data : {
						'store_id' : store_id,
						'pk' : pk,
						'mac_addr' : mac_addr,
						'description' : description,
						'cur_host' : cur_host,

					},
					success : function(data) {
						$('#tbody_camera').empty();
						for(var i = 0; i < data.length; i++){
							if(data[i].floor_id === null){data[i].floor_id = "None"}
							if(data[i].mac_addr === null){data[i].mac_addr = "None"}
							create_camera_info(data[i]);
						}

					},
					error : function(error) {
						alert('카메라 수정에러' + eval(error));
					}
				});
				return true;
			}
			else
			{
				return false;
			}
		});




		/* floor 추가 modal 버튼 */
		$(document).on('click', '#add_floor_button',function(e) {
			var list = $('#tbody_camera > tr > input[data-floor_id=None]'); //카메라리스트 중에 floor_id가 배정 안된 카메라목록
			console.log(list.length +"개의 카메라가 층이 정해져 있지 않음");
			$('tbody[name=modal_tbody_unused_camera]').empty();
		//	console.log("start");
			create_unused_camera_table(list,"add");
		});


		/* floor 추가 모달에서 카메라 이동버튼 이벤트*/
		function move_modal_floor_unused_used(data) {
			console.log("move_modal_floor_unused -> used");
			var type;
			if(data){type="edit"}
				else{type="add"}

			$('input[name=unused_camera]:checked').each(function(index,element){
			//	console.log("index"+$(this).attr('data-pk'));
				$(this).parent().parent().remove();
				$(this).prop('checked',false);
				$(this).attr('name','used_camera');
				$('tbody[name=modal_floor_'+type+'_tbody_used_camera]').append($(this).parent().parent().eq(0));
			});
		}

		function move_modal_floor_used_unused(data) {
			var type;

			if(data){type="edit"}
				else{type="add"}

			$('input[name=used_camera]:checked').each(function(index,element){
				console.log("index"+index);
				$(this).parent().parent().remove();
				$(this).prop('checked',false);
				$(this).attr('name','unused_camera');
				$('tbody[name=modal_floor_'+type+'_tbody_unused_camera]').append($(this).parent().parent().eq(0));
			});


		}

		/* floor delete 버튼 */
		$(document).on('click','#td_floor_delete_button',function(e) {
			var floor_id = $(this).attr('name');
			var store_id = "{{store.pk}}";

			console.log(floor_id);
			if(confirm("삭제 하시겠습니까?")) {
				$.ajax({
						url:"{% url 'watcher:ajax_delete_floor_info' %}",
						type : 'GET',
						dataType : 'json',
						data:{
							'floor_id' : floor_id,
							'store_id' : store_id,
						},
						success : function(data){
							console.log("floor_info delete success")
							$('#table_floor_tr_'+floor_id).remove();
							$.each(data, function(index,element) {
							if(element.floor_id === null){element.floor_id = "None"}
							if(element.mac_addr === null){element.mac_addr = "None"}
						});
							$('#tbody_camera').empty();
							for(var i =0; i < data.length; i++){
								create_camera_info(data[i]);
							}
							camera_connection_table();
						},
						error: function (error) {
						alert('td_delete_button error; ' + eval(error));
					}

				});
				return true;
			}
			else {
				return false;
			}
		});

		/* floor edit 버튼 */
		$(document).on('click', '#td_floor_edit_button', function(e) {
			var floor_pk = $(this).parent().parent().children().eq(0).attr('data-pk');
			var floor_name = $(this).parent().parent().children().eq(0).attr('data-name');
			var floor_num = $(this).parent().parent().children().eq(0).attr('data-num');
			var floor_description = $(this).parent().parent().children().eq(0).attr('data-description');
			$('#modal_floor_edit_btn').attr('data-floor_id',floor_pk);
			console.log(floor_pk);
			$('#modal_floor_edit_label').html(floor_num+"층 ("+floor_name+")");
			$('#modal_floor_edit_name').val(floor_name);
			$('#modal_floor_edit_num').val(floor_num);
			$('#modal_floor_edit_description').val(floor_description);

			var unused_list = $('#tbody_camera > tr > input[data-floor_id=None]'); //카메라리스트 중에 floor_id가 배정 안된 카메라목록
			console.log(unused_list.length +"개의 카메라가 층이 정해져 있지 않음");
			create_unused_camera_table(unused_list,"edit"); 

			var used_list = $('#tbody_camera > tr > input[data-floor_id='+floor_pk+']');
			console.log(used_list.length +"개의 카메라가 층이 정해져 있지 않음");
			create_used_camera_table(used_list); 
		});

		/*floor edit 모달에서 저장 버튼 누를경우*/
		$(document).on('click', '#modal_floor_edit_btn', function(e) {

			var floor_id = $(this).attr('data-floor_id');
			console.log("f_id"+floor_id);
			if(confirm("정말 추가 하시겠습니까?")) {

				var floor_name = $('#modal_floor_edit_name').val();
				var floor_num = $('#modal_floor_edit_num').val();
				var floor_description =$('#modal_floor_edit_description').val();	

				var camera_used = $('input[name=used_camera]').parent().parent();
				var camera_unused = $('input[name=unused_camera]').parent().parent();
				var store_id ="{{store.pk}}";
				
				var camera_used_list = Array();
				var camera_unused_list = Array();
				
				console.log("camera_used: "+camera_used.length);
				console.log("camera_unused: "+camera_unused.length);
				for(var i = 0; i < camera_used.length; i++){
					camera_used_list.push(camera_used[i].dataset.pk);
					console.log("used : "+camera_used[i].dataset.pk);
				}
				console.log("------");
				for(var i = 0; i < camera_unused.length; i++){
					camera_unused_list.push(camera_unused[i].dataset.pk);
					console.log("unused : "+camera_unused[i].dataset.pk);
				}	



				jQuery.ajaxSettings.traditional = true;
				$.ajax({
					url : "{% url 'watcher:ajax_edit_floor_camera_list' %}",
					dataType : 'json',
					type : 'GET',
					data : {
						'camera_used[]' : camera_used_list,
						'camera_unused[]' : camera_unused_list,
						'store_id' : store_id,
						'floor_id' : floor_id,
						'floor_name' : floor_name,
						'floor_num' : floor_num,
						'floor_description' : floor_description,
					},
					success : function(data) {
						$.each(data, function(index,element) {
							if(element.floor_id === null){element.floor_id = "None"}
							if(element.mac_addr === null){element.mac_addr = "None"}
						});
						
						$('#tbody_camera').empty();
						for(var i =0; i < data.length; i++){create_camera_info(data[i]);}
							camera_connection_table();

						modal_floor_init('edit');	
						/*floor 정보 수정후 해당 row정보 만 바꿔줌 */
						$('#table_floor_tr_'+floor_id).contents().empty(); 
						$('#table_floor_tr_'+floor_id).html('<input type="hidden" data-pk="'+floor_id+'" data-name="'+floor_name+'" data-num="'+floor_num+'" data-store_id="'+store_id+'" data-description="'+floor_description+'" ><td>'+floor_num+'</td><td>'+floor_name+'</td><td>'+floor_description+'</td><td><i type="button" name="'+floor_id+'" data-toggle="modal" data-target="#modal_floor_edit"  style="margin:4px" class="fa fa-edit" id="td_floor_edit_button"><input type="hidden" name= "'+floor_id+'"></i><i type="button" style="margin:4px" class="fa fa-trash" name= "'+floor_id+'" id="td_floor_delete_button"></i></td>');
					},
					error : function(error) {
						alert('modal_floor_edit_btn error; ' + eval(error));
					},
				});
				return true;
			}
			else {
				return false;
			}

		});
		/*모달 종료시 데이터 초기화 */
			/*모달창에서 esc누를경우 */
			$(document).on('keydown', function(e) {
				if (e.keyCode == 27) {
					modal_floor_init('add');
					modal_floor_init('edit');
					modal_camera_init();
				}
			});




		$('#footer_copyright>ul').hide();

  		$(document).on('mouseleave', 'footer',function(e){
  				$('#footer_copyright>ul').hide();
  		});
  		$(document).on('mouseenter', 'footer',function(e){
  				$('#footer_copyright>ul').show();
  		});

  		$(document).on('click','#form_menu_add_btn',function(e) {
  			var price=$('#form_menu_price').val();
  			var name=$('#form_menu_name').val();
  			var category_name=$('#form_menu_category_name option:selected').text();
  			var category_id=$('[name='+category_name+']').attr('data-pk')
  			var store_id="{{store.pk}}"


  			console.log(name);

  			$.ajax({
  				url:"{% url 'watcher:ajax_add_store_menu_info' %}",
  				type:'GET',
  				data:{
  					'store_id':store_id,
  					'price':price,
  					'name':name,
  					'category_id':category_id,
  					'category_name':category_name,
  				},
  				success:function(data) {
  					location.replace("{% url 'watcher:store_menu' store.pk %}")
  				},
  				error:function(error) {

  				},
  			})
  		
  		

  		});
		

	</script>


<!--script end-->
</body>
</html>




