<!DOCTYPE html>
<html>
<head>
	<meta charset="uft-8">
	<meta name="viewprot" content="width=device-width, inital-scale=1, shrinkt-to-fit=no">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="/static/css/footer.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/Camera_list.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<title>WATCHER</title>

</head>
<body>
	<!--내비게이션 바-->
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color:black;">
		<a class="navbar-brand" href="#" style="color : #007bff; ">WATCHER</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="navbar-nav">
				<li><a href="#">홈 화면 <span class="sr-only">(current)</span></a></li>
				<li><a id="navbar_store_list" href="http://127.0.0.1:8000/store_list">가게 목록</a></li>
			</div>
		 </div>
	</nav>

	<div class="wrap">


		<div class="container-fluid title">
		<h2>가게 목록</h2>
		<p class="text-left">현재 관리되고 있는 매장 목록입니다.</p>
		</div>

		<button style="float :left; margin-left : 1%;" id="store_add_button" data-toggle="modal" data-target="#modal_store_add" type="button" class="btn btn-dark">매장 추가</button>
	

		<!--카메라 리스트 테이블 시작 -->
		<!--검색창-->
		<div class="container-fluid" style=""> 
			<form class="form-inline" style="float: right; padding-bottom : 1%;">
				<input type="text" id="keyword" class="search-query" placeholder="검색 내용"> <button type="submit" class="btn btn-sm btn-dark"  data-test='aaa' style="margin : 1px;">검색</button>
			</form>
		</div>
	
		

		<div class="table-responsive" style="height : 45vh; overflow: scroll;" >
		<!-- Table -->
			<table class="table table-striped table-bordered table-dark table-hover">
				<thead class="thead-light">
					<tr>
						<th data-column-id ="numeric" class="th-sm">#</th>
						<th data-column-id ="name" class="th-sm">가게 이름</th>
						<th data-column-id ="location" class="th-sm">가게 위치</th>
						<th data-column-id ="edit" class="th-sm">편집</th>
					</tr>
				</thead>
				
				<tbody id ="tbody_store">
				{% for list in store_list %}
				<tr id="tr_store_list_{{list.pk}}">
					<input type="hidden" data-pk="{{list.pk}}" data-store_name="{{list.store_name}}" data-store_location="{{list.store_location}}">
					<td>
						<i type="button" style="margin:4px;" class="fa fa-home" onClick = "location.href={{list.pk}}"></i>{{list.pk}}
					</td>
					<td><i class="fa fa-store"></i>{{list.store_name}}</td>
					<td>{{list.store_location}}</td>
					<td><i type="button" id="td_store_edit_button" data-pk="{{list.pk}}" data-store_name="{{list.store_name}}" data-store_location="{{list.store_location}}" data-toggle="modal" data-target="#modal_store_edit"  style="margin:4px" class="fa fa-edit" ></i><i type="button" id="td_store_delete_button" name="{{list.pk}}" style="margin:4px" class="fa fa-trash"></i></td>
				</tr>
				{% endfor %}
  				</tbody>
  			</table>
  			
  		</div><!--container-fluid-->
  		<!--카메라 리스트 테이블 끝-->
  	</div>
  	</div><!--wrap-->

	<!--footer-->
	<footer>
		<div class="container">
					<br>
					<div class="row">
						<div class="col-sm-4" ><h5>Copyright &copy; 2020</h5>
							<ul>
							<li><h5>김민호(KIM MINHO)</h5></li>
							<li><h5>박지범(PARK JIBEOM)</h5></li>
							<li><h5>윤 렬(YOON RYEOL)</h5></li>
							</ul>
						</div>
						<div class="col-sm-4" ><h4>소개</h4><p></p></div>
						<div class="col-sm-4"><h4>위치</h4><p>서울특별시 동작구 상도동 숭실대학교</p></div>
					</div>
				</div>
	</footer>

	<!--가게 추가 모달 -->
		<div class="modal fade" id="modal_store_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="modal_store_add_label"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form id = "modal_store_add_form">
		          <div class="form-group">
		            <label for="camera-name" class="col-form-label">매장 이름 :</label>
		            <input type="text" id="modal_store_add_name" class="form-control" value="">
		          </div>
		          <div class="form-group">
		            <label for="mac-address" class="col-form-label">매장 위치 :</label>
		           <input type="text" id="modal_store_add_location" class="form-control"value="">
		          </div>
		          <div class="form-group">
		            <label for="description" class="col-form-label">비고 :</label>
		            <textarea class="form-control" id="modal_store_add_description"></textarea>
		          </div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" id="modal_store_add_close_btn" class="btn btn-secondary" data-dismiss="modal">닫기</button>
		        <button type="button" id="moald_store_add_btn' data-dismiss="modal" class="btn btn-primary">매장 추가</button>
		      </div>
		    </div>
		  </div>
		</div>

	<!--가게 수정 모달 -->
		<div class="modal fade" id="modal_store_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="modal_store_edit_label"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form id = "modal_store_edit_form">
		          <div class="form-group">
		            <label for="camera-name" class="col-form-label">매장 이름 :</label>
		            <input type="text" id="modal_store_edit_name" class="form-control" >
		          </div>
		          <div class="form-group">
		            <label for="mac-address" class="col-form-label">매장 위치 :</label>
		           <input type="text" id="modal_store_edit_location" class="form-control">
		          </div>
		          <div class="form-group">
		            <label for="description" class="col-form-label">비고 :</label>
		            <textarea class="form-control" id="modal_store_edit_description"></textarea>
		          </div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" id="modal_store_edit_close_btn" class="btn btn-secondary" data-dismiss="modal">닫기</button>
		        <button type="button" id="modal_store_edit_btn" data-dismiss="modal" class="btn btn-primary">수정 및 저장</button>
		      </div>
		    </div>
		  </div>
		</div>

		<!--모달 form 끝-->

<script>
	/* 가게리스트 만드는 함수*/
	function create_store_list(data) {
		$('#tbody_store').empty();
		for(var i =0; i < data.length; i++) {
			$('#tbody_store').append('<tr id="tr_store_list_'+data[i].pk+'"><input type="hidden" data-pk="'+data[i].pk+'" data-store_name="'+data[i].store_name+'" data-store_location="'+data[i].store_location+'"><td><i type="button" style="margin:4px;" class="fa fa-home" onClick = "location.href="'+data[i].pk+'"></i>'+data[i].pk+'</td><td><i class="fa fa-store"></i>'+data[i].store_name+'</td><td>'+data[i].store_location+'</td><td><i type="button" id="td_store_edit_button" data-pk="'+data[i].pk+'" data-store_name="'+data[i].store_name+'" data-store_location="'+data[i].store_location+'" data-toggle="modal" data-target="#modal_store_edit"  style="margin:4px" class="fa fa-edit" ></i><i type="button" id="td_store_delete_button" name="'+data[i].pk+'" style="margin:4px" class="fa fa-trash"></i></td></tr>');
		}
	}
		/* 테이블 내 스크롤 */
		var page = 1;
		$(window).scroll(function() {
			if ($(window).scrollTop() == $(document).height() - $(window).height()) {
				console.log(++page);
				$("tbody").append('<tr><td>1<i style="margin:4px" class="fa fa-camera"></i></td><td>카메라1</td><td>창가 천장 위</td><td><i style="margin:4px" class="fa fa-edit"></i><i style="margin:4px" class="fa fa-trash"></i></td></tr>');
			}
		});
	
		/*가게 테이블 리스트 삭제*/
		$(document).on('click', '#td_store_delete_button', function(e) {
			if(confirm("가게를 삭제 하시겠습니까?")){
				var pk =$(this).attr('name');
				console.log(pk);
				$.ajax({
					url : "{% url 'watcher:ajax_delete_store_info' %}",
					type : 'GET',
					data : {
						'pk' : pk,
					},
					success : function(data) {
						$('#tr_store_list_'+pk).remove();
						
					},
					error: function(error){
						alert('td_store_edit_button error; ' + eval(error));
					}
				});
				return true;
			}
			else {
				return false;
			}
		});
	

		/*가게 정보 수정 버튼 */
		$(document).on('click', '#td_store_edit_button', function(e){
			$('#modal_store_edit_label').text($(this).attr('data-store_name'));
			$('#modal_store_edit_name').val($(this).attr('data-store_name'));
			$('#modal_store_edit_name').attr('name',$(this).attr('data-pk'));
			$('#modal_store_edit_location').val($(this).attr('data-store_location'));
		});
			/*가게 정보 수정 모달에서 저장버튼*/
			$(document).on('click', '#modal_store_edit_btn',function(e) {
				var pk = $('#modal_store_edit_name').attr('name');
				var store_name = $('#modal_store_edit_name').val();
				var store_location = $('#modal_store_edit_location').val();

				if(confirm("변경사항을 저장 하시겠습니까?")){
					$.ajax({
						url : "{% url 'watcher:ajax_edit_store_info' %}",
						type : 'GET',
						dataType : 'json',
						data : {
							'pk' : pk,
							'store_name' : store_name,
							'store_location' : store_location,
						},
						success : function(data) {
							create_store_list(data);
						},
						error : function(error) {

						},
					});
					return true;
				}
				else{
					return false;
				}
			});

		/*가게 추가 기능 in 모달 */
		$(document).on('click', '#add_store_btn', function(e) {
			var store_name = $('#modal_store_name').val();
			var store_location = $('#modal_store_location').val();
			if (confirm('정말 추가 하시겠습니까?')) {

				console.log(store_location);
				console.log(store_name);
				$.ajax({
					url: "{% url 'watcher:ajax_add_store_list' %}",
					dataType : "json",
					data: {
						'store_name' : store_name,
						'store_location' : store_location,
					},
					type : 'GET',
					success: function(data) {
						console.log("save")
						$("tbody").append('<tr id=t"tr_store_list_'+data.pk+'" onClick = " location.href='+data.pk+'"><td>'+data.pk+'</td><td>'+data.store_name+'</td><td>'+data.store_location+'</td><td><i type="button" name="'+data.pk+'" data-toggle="modal" data-target="#exampleModal"  style="margin:4px" class="fa fa-edit" ><input type="hidden" name= "'+data.pk+'"></i><i style="margin:4px" class="fa fa-trash"></i></td></tr>')
					},
					error: function (error) {
						alert('error; ' + eval(error));
					}
				});
				return true;
			}
			else
			{
				return false;
			}

		
		});
	 	/*검색기능*/
		$(document).ready(function(){
			$("#keyword").on("keyup", function() {
				var value = $(this).val().toLowerCase();
				$("tbody tr").filter(function() {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});


	</script>
</script>
</body>
</html>