<head>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>

<body>
    <canvas id="canvas" width="300" height="300">
        캔버스의 내용을 설명하는 대체 텍스트
    </canvas>
</body>
<script src="/static/js/jquery-3.5.1.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/bootstrap.bundle.js"></script>
<script>
    $(document).ready(function(){
        var canvas = document.getElementById('canvas'); 
        var ctx = canvas.getContext('2d'); 
        ctx.fillStyle = 'green'; 
        ctx.fillRect(10, 10, 100, 100);
    });

</script>
