<head>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <style>
        .controls {
            display: inline-block;
        }
    </style>
</head>

<body>

    <div class="row">
        <p>
            <button id="add" onclick="Add()">Add a rectangle</button>
        </p>
        <p>
            <input type="checkbox" id='is_delete'> delete
        </p>
        <p>
            <button id="get_objects" onclick="get_objects()">get objects</button>
        </p>
    </div>
    <row>
        <canvas id="c" width="1000" height="1000" style="border:1px solid #ccc"></canvas>

        <table class="table table-hover" id='rec_table'>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">전기 사용 가능 유무</th>
                <th scope="col">좌석 갯수</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>-1</td>
                    <td>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1">
                            <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
                        </div>
                    </td>
                    <td>
                        <input type="number" class="form-control" id="inputPassword2" placeholder="좌석 갯수">
                    </td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </row>
    <button type="button" class="btn btn-primary">Primary</button>
</body>

<script src="/static/js/jquery-3.5.1.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/bootstrap.bundle.js"></script>
<script src="/static/js/fabric.js"></script>
<script>
    var id = 0;
    var canvas = this.__canvas = new fabric.Canvas('c');
    canvas.setBackgroundImage('/static/img/Picture 24.jpg');
    canvas.selection  = false
    // create a rect object
    fabric.Object.prototype.transparentCorners = false;
    fabric.Object.prototype.cornerColor = 'blue';
    fabric.Object.prototype.cornerStyle = 'circle';


    function Add(_left = 100, _top = 50) {
        var rect = new fabric.Rect({
            left: _left,
            top: _top,
            fill: 'yellow',
            width: 100,
            height: 100,
            objectCaching: false,
            stroke: 'lightgreen',
            strokeWidth: 4,
            opacity: 0.4,
            hasRotatingPoint: false,
        });
        rect.id = id

        canvas.add(rect);
        console.log(rect.id)
        canvas.setActiveObject(rect);
        add_row(id)
        id++;

    }

    function deleteObject(eventData, target) {
        var canvas = target.canvas;
        canvas.remove(target);
        canvas.requestRenderAll();
    }

    canvas.on('mouse:down', function(options) {

        var is_delete = $('#is_delete').prop('checked')

        if(is_delete && options.target != null){
            delete_row(options.target.id)
            canvas.remove(options.target);
            canvas.requestRenderAll();        
        }
        else {
            if(options.target == null){
                Add(options.pointer.x, options.pointer.y)
            }
        }

    });

    function get_objects(){
        var pos_data_list = []
        var rect_list = canvas.getObjects()
        console.log(canvas.width + ', ' + canvas.height)
        console.log(rect_list)
        for(var i=0; i<rect_list.length; i++){
            var cur_rec = rect_list[i];
            var pos_data = {
                'f_x' : cur_rec.left/canvas.width,
                'f_y' : cur_rec.top/canvas.height,
                's_x' : (cur_rec.left+cur_rec.width)/canvas.width,
                's_y' : (cur_rec.top+cur_rec.height)/canvas.height,
            }
            pos_data_list.push(pos_data)
        }

        console.log(pos_data_list)
    }

    function add_row(id){
        var row_str = "<tr>" +
            "<input type='hidden' id='row_data' data-rec_id=''>"+
            "<td id='rec_id'>1</th>"+
            "<td>"+
            '<div class="custom-control custom-switch">'+
            '<input type="checkbox" class="custom-control-input" id="customSwitch1">'+
            '<label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>'+
            '</div>'+
            '</td>'+
            '<td>'+
            '<input type="number" class="form-control" id="inputPassword2" placeholder="좌석 갯수">'+
            '</td>'+
            "</tr>";

        $('#rec_table > tbody:last-child').append(row_str)
        var last_row = $('#rec_table > tbody:last-child tr:last')
        $(last_row).find('input[type="hidden"]').attr('data-rec_id', id)
        $(last_row).find('td[id="rec_id"]').text(id)        
    }

    function delete_row(pic_rec_id){
        var tr_list = $('#rec_table > tbody:last-child').find('tr')
        for(var i=0; i < tr_list.length; i++){
            var list_rec_id = $(tr_list[i]).find('input').data('rec_id')
            if(list_rec_id == pic_rec_id){
                $(tr_list[i]).remove()
            }
        }
    }

    $(document).ready(function(e){
        canvas.renderAll();
    });

</script>