html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrap {
	margin : 0 auto;
}



.navbar-default {
	border : 1px solid black;
	background-color : black;
}

/* 테이블 제목 부분 */
.title {
	padding : 1%;
}
/*테이블 헤버 */

/*테이블 내 검색창 */


/* 테이블 부분 */
table {
	width: 100%;
	border : 5px solid #444444;
}


/*버튼이 있는 메인 메뉴 */

.menu-button {
	border :2px solid black;
	
}

.menu-button .menu-button-row {
	text-align: center;

}
.menu-button .menu-button-row .btn-default {
	background-color: #bbbbbb;
	
	width: 100%;
}





