
@media screen (min-width:0px)and (max-width:320px){
	
	#client_search_btn{
		top:1.5rem;
	}
}
@media screen (max-width:320px){
		#client_search_btn{
		top:1.1rem;
	}
}
@media screen and (max-width:530px){
	*{
	}
	
	.input-group-append {
	}
	#client_search_btn {
		top:0.4rem;
	}
}